form{
    width: 500px;
    margin: auto;
}
input, textarea{
    font-family: sans-serif;
    font-weight: normal;
    font-size: 13pt;
    background-color: rgba(255,255,255,0.5);
}
input:hover, textarea:hover{
    background-color: rgb(185, 184, 184);
}
legend{
    color: #888888;
    font-weight: bold;
    font-size: 13pt;
    font-family: sans-serif;
}
fieldset{
    border-color: #cecece;
    margin: 20px;
}
fieldset#sexo{
    width: 150px;
}
fieldset#usuario{
    background: url(/assets/media/icone-contato.png) no-repeat 95% 95%;
}
fieldset#endereco{
    background: url(/assets/media/icone-endereco.png) no-repeat 95% 95%;
}
fieldset#mensagem{
    background: url(/assets/media/icone-mensagem.png) no-repeat 95% 95%;
}
fieldset#usuario{
    background: url(/assets/media/icone-contato.png) no-repeat 95% 95%;
}
fieldset#pedido{
    background: url(/assets/media/icone-pagamento.png) no-repeat 95% 95%;
}
